<div class="container" style="margin-top: 170px; margin-left: 200px">
<h2 style="color: white; font-family: Helvetica; font-weight: normal !important; font-size: 38px">An Experience Like Never Before</h2>

<div style="margin-top:40px">
<%= render "devise/shared/twitterlink" %>
</div>
</div>